[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none!important;
}

.boardGame {
  margin: 0 auto; 
  display: inline-block;
  text-align: center;
  display: block;
}

.board {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
  outline: none;
  padding: 0px; 
  margin: 0 auto; 
  margin-top: 10px; 
}

.board tbody{
  font-color: grey;
  font-size: 500%;
}

.board tr td { 
  width: 150px; 
  height: 125px; 
  border: 10px solid #1c1c1c; 
  color: grey;
  font-family: Arial Helvetica; 
  font-weight: bolder;
  text-align: center; 
}

.board tr td:hover {
  cursor: pointer;
  cursor: hand;
}

@keyframes pulse {
  0%, 100% {
    background-color: #b3c6ff;
  }
  50% {
    background-color: #0040ff;
  }
}

.winning {
  color: white;
  animation: 
    pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
}

button {
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
