.boardGame {
  margin: 0 auto; 
  display: block;
  text-align: center;
}

.board {
  border-collapse: collapse;
  border-style: hidden;
  padding: 0px; 
  margin: 0 auto; 
  margin-top: 10px; 
}

table tr td { 
  width: 150px; 
  height: 125px; 
  border: 10px solid #1c1c1c; 
  color: grey;
  font-family: Helvetica; 
  font-size: 500%;
  font-weight: bolder;
}

tr td:hover {
  cursor: pointer;
  cursor: hand;
}


@keyframes pulse {
  0%, 100% {
    background-color: #b3c6ff;
  }
  50% {
    background-color: #0040ff;
  }
}


.winning {
  color: white;
  animation: 
    pulse 3s ease infinite alternate,
    nudge 5s linear infinite alternate;
}

button {
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

